.sermons-header {
  color: #ccc;
  font-size: 36px;
}

.sermons-header p {
  padding: 100px 0 150px 0;
  width: 65%;
}

.sermons-header p strong {
  color: #fff;
}

.sermons-header .ui.menu .item {
  color: #ccc
}

.sermons-header .ui.secondary.menu {
  padding: 20px 0;
}
